Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.ipch
*.log
Bin
!ProjectDR/VTK/bin*/
ProjectDR/Debug*/
Debug*/
*.sbr
obj/
ProjectDR/Release*/
Release*/
_ReSharper*/
TestResult*
*.vssscc
*.sdf
